footer
	.content
		.logo
			img(src="./static/img/general/logo.png")
		.menu
			a(href="#cond").menu__item Lebensbedingungen und Infrastruktur
			a(href="#photo").menu__item Fotos
			a(href="#information").menu__item Weitere Informationen und Bezahlung
			a(href="#g-map").menu__item Übersichtskarte

		.tel
			a(href="tel:88004568080") 8 (800) 456-80-80
			.call.js-callback Rückruf
			span © Отли WC-2018.Moscow
	.content
