footer
	.content
		.logo
			img(src="./static/img/general/logo.png")
		.block-menu
			.menu
				a(href="#cond").menu__item Условия и инфраструктура
				a(href="#photo").menu__item Фото
				a(href="#information").menu__item Информация и оплата
				a(href="#g-map").menu__item Карта
			span © Отели WC-2018.Moscow
		.tel
			a(href="tel:88004568080") 8 (800) 456-80-80
			.call.js-callback обратный звонок