extends ../layout/main

block title
	| Главная страница

block content
	.map
		img(src="./static/img/general/map.png").map__img
		.content
			.address
				.address-block
					.address-title Moskau, Jakovlevskaja-Str. 1/a
					span Aussicht auf denTrainingsplatz der deutschen Nationalmannschaft
					.seat Gesamtzahl Gäste: &nbsp;
						span 230
					.price Aufenthaltspreis pro Person: &nbsp;
						span 90-200$
					.address-block__img.address-block__img1
						img(src="./static/img/general/hotel1.png")

			.address.address_two
				.address-block
					.address-title Moskau, Ofitzerskaja-Str 3
					span 2 min. bis zur Trainingsstätte der deutschen Nationalmannschaft
					.seat Gesamtzahl Gäste: &nbsp;
						span 300
					.price Aufenthaltspreis pro Person: &nbsp;
						span 50-70$
					.address-block__img.address-block__img2
						img(src="./static/img/general/hotel2.png")

	.container.bg-red.form
		.content
			form.form-block
				.form-block__item
					input(placeholder="Vorname/Nachname *")
				.form-block__item
					input(placeholder="E-Mail *")
				.form-block__item
					input(placeholder="Telefon *" name="phone")
				.form-block__item
					input(placeholder="Anzahl der Personen *")
				.form-block__item
					button.btn Anmelden
			.agree Durch klicken auf die Schaltfläche "Anmelden" Stimme ich zu, meine personenbezogenen Daten zu verarbeiten und Werbung zu erhalten.

	.container.container_padding#cond
		.content
			.title Lebensbedingungen und Infrastruktur
			.conditions
				.conditions__item
					.conditions__item1.conditions__item-com
					.line
					.conditions__text Aussicht auf denTrainingsplatz der deutschen Nationalmannschaft
				.conditions__item
					.conditions__item2.conditions__item-com
					.line
					.conditions__text.conditions__text2 2 min. bis zur Trainingsstätte der deutschen Nationalmannschaft
				.conditions__item
					.conditions__item3.conditions__item-com
					.line
					.conditions__text Bar-Restaurant

				.conditions__item
					.conditions__item4.conditions__item-com
					.line
					.conditions__text Sauna
				.conditions__item
					.conditions__item5.conditions__item-com
					.line
					.conditions__text dreimalige Verpflegung pro Tag
				.conditions__item
					.conditions__item6.conditions__item-com
					.line
					.conditions__text Transfer zu den Spielen
				img(src="./static/img/general/players.png").players




	.container.bg-gray#photo
		.content
			.title Foto von Hotels
			.gallery.js-slider.js-popup-gallery
				a(href="./static/img/general/gallery1.png").gallery__item
					img(src="./static/img/general/gallery1.png")
					//.gallery__item-text Бильярдная и бар
					.zoom
				a(href="./static/img/general/gallery2.png").gallery__item
					img(src="./static/img/general/gallery2.png")
					//.gallery__item-text Бильярдная и бар
					.zoom
				a(href="./static/img/general/gallery3.png").gallery__item
					img(src="./static/img/general/gallery3.png")
					//.gallery__item-text Бильярдная и бар
					.zoom

				a(href="./static/img/general/gallery1.png").gallery__item
					img(src="./static/img/general/gallery1.png")
					//.gallery__item-text Бильярдная и бар
					.zoom
				a(href="./static/img/general/gallery2.png").gallery__item
					img(src="./static/img/general/gallery1.png")
					//.gallery__item-text Бильярдная и бар
					.zoom
				a(href="./static/img/general/gallery3.png").gallery__item
					img(src="./static/img/general/gallery3.png")
					//.gallery__item-text Бильярдная и бар
					.zoom




	.container#information
		.content
			.title Weitere Informationen und Bezahlung
			.info
				p Liebe Fussballfreunde, schon ein wenig Zeit blieb es bis zum Anfang des Hauptfußballereignisses der Welt übrig. Wir laden euch nach Moskau zur Fußball-Weltmeisterschaft ein und sind bereit, euch zu helfen, sich hier in Moskau wie zu Hause  zu fühlen. Zur eurer Verfuegung koennen Wir stellen:
				ul.list
					li 1) Gasthaus mit Zimmern für 6-8 Personen.  In 2 Minuten vom Hotel befindet sich das Sportzentrum, wo das Team Deutschlands sein Wohnsitz haben und trainieren wird.  Aufenthaltspreis pro Person – 50-70 $; Das Hotel verfügt über eine Bar und eine Sauna.  Nach Vereinbarung können wir dreimalige Verpflegung pro Tag organisieren.
					li 2) Gästezimmer im o.g. Sportzentrum mit Blick auf den Fußballplatz; .  Aufenthaltspreis pro Person – 90 $;
					li 3) Organisation der Transfers zu den Stadien, wo die Spiele stattfinden werden. Nach Vereinbarung.
				p Falls unser Angebot fuer euch interessant ist, warten wir auf eure Vertreter, um den Vertrag zu unterzeichnen.
			.pay
				img(src="./static/img/general/ball.png").ball
				ul.pay-list
					.pay-list__title Zahlungsarten:
					li
						span Zahlung per Kreditkarte
					li
						span Barbezahlung
					li
						span Teilweise Kreditkartenzahlung/Barbezahlung
				ul.pay-list
					.pay-list__title Bezahlung:
					li
						span 30% Vorausbezahlung + 70% Bezahlung im Hotel
					li
						span 30% Vorausbezahlung + 70% Bezahlung im Hotel
					li
						span 100% Vorausbezahlung

	.container.bg-red.form
		.content
			form.form-block
				.form-block__item.error
					input(placeholder="Vorname/Nachname *")
				.form-block__item
					input(placeholder="E-Mail *")
				.form-block__item
					input(placeholder="Telefon *" name="phone")
				.form-block__item
					input(placeholder="Anzahl der Personen *")
				.form-block__item
					button.btn Anmelden
			.agree Durch klicken auf die Schaltfläche "Anmelden" Stimme ich zu, meine personenbezogenen Daten zu verarbeiten und Werbung zu erhalten.
	.container#g-map
		.content
			.title Hotels auf der Karte
			.maps
				.map-block
					.address
						.address-block
							.address-title Adresse:
							span Moskau, Ofitzerskaja-Str 3
					.google-map#map_canvas
				.map-block
					.address
						.address-block
							.address-title Adresse:
							span Moskau, Jakovlevskaja-Str. 1/a
					.google-map#map_canvas2

	#popup-form.form-callback.mfp-hide
		form#poup-callback(name="callback")
			.title_form Rückruf
			.form-block
				.form-block__item
					input(placeholder="Vorname/Nachname *" required)
				.form-block__item
					input(placeholder="Telefon *" name="phone")
				.btn.btn_blue Anruf bestellen
			.agree Durch klicken auf die Schaltfläche "Anruf bestellen" Stimme ich zu, meine personenbezogenen Daten zu verarbeiten und Werbung zu erhalten.
