extends ../layout/main

block title
	| Главная страница

block content
	.map
		img(src="./static/img/general/map.png").map__img
		.content
			.address
				.address-block
					.address-title Москва, ул. Яковлевская д. 1/а
					span Вид на тренировочное поле сборной германии
					.seat Мест: &nbsp;
						span 230
					.price Цена за место: &nbsp;
						span 90-200$
					.address-block__img.address-block__img1
						img(src="./static/img/general/hotel1.png")

			.address.address_two
				.address-block
					.address-title Москва, ул. Офицерская д. 3
					span 150 м до тренировочного поля сборной германии
					.seat Мест: &nbsp;
						span 300
					.price Цена за место: &nbsp;
						span 50-70$
					.address-block__img.address-block__img2
						img(src="./static/img/general/hotel2.png")

	.container.bg-red.form
		.content
			form.form-block
				.form-block__item.error
					input(placeholder="Имя *")
				.form-block__item
					input(placeholder="E-mail *")
				.form-block__item
					input(placeholder="Телефон *" name="phone")
				.form-block__item
					input(placeholder="Кол-во человек *")
				.form-block__item
					button.btn Зарегестрироваться

	.container.container_padding#cond
		.content
			.title Условия и инфраструктура
			.conditions
				.conditions__item
					.conditions__item1.conditions__item-com
					.line
					.conditions__text Вид на тренировочное<br> поле
				.conditions__item
					.conditions__item2.conditions__item-com
					.line
					.conditions__text.conditions__text2 2 минуты до тренировочной базы сборной Германии
				.conditions__item
					.conditions__item3.conditions__item-com
					.line
					.conditions__text Бар-ресторан

				.conditions__item
					.conditions__item4.conditions__item-com
					.line
					.conditions__text Сауна
				.conditions__item
					.conditions__item5.conditions__item-com
					.line
					.conditions__text 3-х разовое питание
				.conditions__item
					.conditions__item6.conditions__item-com
					.line
					.conditions__text Трансфер на матчи
				img(src="./static/img/general/players.png").players




	.container.bg-gray#photo
		.content
			.title Фото отелей
			.gallery.js-slider.js-popup-gallery
				a(href="./static/img/general/gallery1.png").gallery__item
					img(src="./static/img/general/gallery1.png")
					.gallery__item-text Бильярдная и бар
					.zoom
				a(href="./static/img/general/gallery2.png").gallery__item
					img(src="./static/img/general/gallery2.png")
					.gallery__item-text Бильярдная и бар
					.zoom
				a(href="./static/img/general/gallery3.png").gallery__item
					img(src="./static/img/general/gallery3.png")
					.gallery__item-text Бильярдная и бар
					.zoom

				a(href="./static/img/general/gallery1.png").gallery__item
					img(src="./static/img/general/gallery1.png")
					.gallery__item-text Бильярдная и бар
					.zoom
				a(href="./static/img/general/gallery2.png").gallery__item
					img(src="./static/img/general/gallery1.png")
					.gallery__item-text Бильярдная и бар
					.zoom
				a(href="./static/img/general/gallery3.png").gallery__item
					img(src="./static/img/general/gallery3.png")
					.gallery__item-text Бильярдная и бар
					.zoom




	.container#information
		.content
			.title Информация и оплата
			.info
				p Liebe Fussballfreunde, schon ein wenig Zeit blieb es bis zum Anfang des Hauptfußballereignisses der Welt übrig. Wir laden euch nach Moskau zur Fußball-Weltmeisterschaft ein und sind bereit, euch zu helfen, sich hier in Moskau wie zu Hause  zu fühlen. Zur eurer Verfuegung koennen Wir stellen:
				ul.list
					li 1) Gasthaus mit Zimmern für 6-8 Personen.  In 2 Minuten vom Hotel befindet sich das Sportzentrum, wo das Team Deutschlands sein Wohnsitz haben und trainieren wird.  Aufenthaltspreis pro Person – 50-70 $; Das Hotel verfügt über eine Bar und eine Sauna.  Nach Vereinbarung können wir dreimalige Verpflegung pro Tag organisieren.
					li 2) Gästezimmer im o.g. Sportzentrum mit Blick auf den Fußballplatz; .  Aufenthaltspreis pro Person – 90 $;
					li 3) Organisation der Transfers zu den Stadien, wo die Spiele stattfinden werden. Nach Vereinbarung.
				p Falls unser Angebot fuer euch interessant ist, warten wir auf eure Vertreter, um den Vertrag zu unterzeichnen.
			.pay
				img(src="./static/img/general/ball.png").ball
				ul.pay-list
					.pay-list__title Способы оплаты:
					li
						span Картой
					li
						span Наличными
					li
						span Частично картой/частично наличными
				ul.pay-list
					.pay-list__title Варианты оплаты:
					li
						span 30% предоплата + 70% на месте
					li
						span 30% предоплата + 70% на месте
					li
						span 100% предоплата

	.container.bg-red.form
		.content
			form.form-block
				.form-block__item.error
					input(placeholder="Имя *")
				.form-block__item
					input(placeholder="E-mail *")
				.form-block__item
					input(placeholder="Телефон *" name="phone")
				.form-block__item
					input(placeholder="Кол-во человек *")
				.form-block__item
					button.btn Зарегестрироваться
	.container#g-map
		.content
			.title Отели на карте
			.maps
				.map-block
					.address
						.address-block
							.address-title Адрес:
							span Москва, ул. Офицерская, д. 3
					.google-map#map_canvas
				.map-block
					.address
						.address-block
							.address-title Адрес:
							span Москва, ул. Яковлевская д. 1/а
					.google-map#map_canvas2

	#popup-form.form-callback.mfp-hide
		form#poup-callback(name="callback")
			.title_form Обратный звонок
			.form-block
				.form-block__item
					input(placeholder="Имя *" required)
				.form-block__item
					input(placeholder="Телефон *" name="phone")
				.btn.btn_blue Заказать звонок
